<%= stylesheet_link_tag "sessions", :media => "all" %>
<%= render 'header'%>
<div id="login-section">
  <h2 class="login-title-contact">Iniciar Sesión</h2>
    <div class="login-form">

      <%= form_tag sessions_path do |_| %>
        <p id="alert"> <%= alert %> </p>

         <%= text_field_tag :email , nil , class: 'login-items' ,:placeholder => 'Email'%>
         <%= password_field_tag :password , nil , class: 'login-items', :placeholder => 'Contraseña' %>

        <div class="forgot-password">
          <a href="">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="login-buttons">
          <%= submit_tag "Login" , :class => "btn-login" %>
        </div>
        <div class="sign-up-question">
          <p>¿No tenés cuenta? <a href="/users/new">Regístrate</a>
        </div>
      <% end %>
    </div>
</div>