<%= render 'header'%>
<div class="guardarropas-show-container">
  <h2><%= @guardarropa.nombre %></h2>


  <a type="button"  href="/guardarropas/<%= @guardarropa.id %>/atuendos">Ver atuendos</a>
  <a type="button"  href="/guardarropas/<%= @guardarropa.id %>/atuendos/new">Crear atuendo</a>
  <a type="button"  href="/guardarropas/<%= @guardarropa.id %>/atuendos-generate">Generar atuendo</a>

  <% if @guardarropa.prendas.blank? %>
    <span class="text-center">Todavía no agregaste prendas <i class="fa fa-meh-o"></i></span>
  <% else %>
    <% @guardarropa.prendas.each do |p| %>
      <%= render 'prenda', prenda: p %>
    <%end%>
  <% end %>
  <a href="/prendas/new?guardarropa_id=<%=+params[:id]%>" title="Agregar nueva prenda">
    <i class="fa fa-plus-square-o"></i>
  </a>
</div>







