<div class="guardarropas-show-container">
  <div class="btn-go-back-guardarropa">
    <a href="/profile"><i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i></a>
  </div>
  <h2 class="prendas-title"><%= @guardarropa.nombre %></h2>

  <div class="show-btns-container">
    <a class="btn-atuendos-all" type="button" href="/guardarropas/<%= @guardarropa.id %>/atuendos">Ver atuendos</a>
    <a class="btn-atuendo" type="button" href="/guardarropas/<%= @guardarropa.id %>/atuendos/new">Crear atuendo</a>
    <a class="btn-atuendo-random" type="button" href="/guardarropas/<%= @guardarropa.id %>/atuendos-generate">Random</a>
  </div>

  <div class="container-prendas-all-from-guardarropa">
    <ul class="prendas-all-from-guardarropa">
      <% if @guardarropa.prendas.blank? %>
        <span class="guardarropas-text">Todavía no agregaste prendas <i class="fa fa-meh-o"></i></span>
      <% else %>
        <% @guardarropa.prendas.each do |p| %>
          <li class="prendas-all-from-guardarropa-unit">
            <%= render 'prenda', prenda: p %>
          </li>
        <%end%>
      <% end %>
    </ul>

    <div class="prendas-all-from-guardarropa-add">
      <a href="/prendas/new?guardarropa_id=<%=+params[:id]%>" title="Agregar nueva prenda">
        Agregar nueva prenda  <i class="fa fa-plus"></i>
      </a>
    </div>

  </div>

</div>







