
  <div id="atuendo-new">
    <h2 class="btn-go-back-guardarropa"><a href="/guardarropas/<%=+params[:guardarropa_id]%>">Guardarropa</a></h2>

    <div>
      <div class="form-atuendo-new">
        <h2 class="atuendos-title">Atuendo Random</h2>
        <div><a type="button" class="btn-random" href="/guardarropas/<%= @prenda_pies.guardarropa_id %>/atuendos-generate">Generar otro</a></div>
        <%= form_for @atuendo, :url => { :action => "create" } do |f| %>

          <div>
            <%= f.label :nombre, class: 'atuendos-form-title' %>
            <%= f.text_field :nombre, class: 'atuendos-form-items' %>
          </div>

          <div>
            <div>
              <%= render 'prenda', prenda: @prenda_cabeza %>
              <%= f.hidden_field :cabeza_id, :value => @prenda_cabeza.id %>
            </div>
            <div>
              <%= render 'prenda', prenda: @prenda_torso %>
              <%= f.hidden_field :torso_id, :value => @prenda_torso.id %>
            </div>
            <div>
              <%= render 'prenda', prenda: @prenda_piernas %>
              <%= f.hidden_field :piernas_id, :value => @prenda_piernas.id %>
            </div>
            <div>
              <%= render 'prenda', prenda: @prenda_pies%>
              <%= f.hidden_field :pies_id, :value => @prenda_pies.id %>
            </div>

            <div>
              <%= f.label :puntaje, class: 'atuendos-form-title' %><br />
              <fieldset>
                <%= f.radio_button :puntaje, 10 , {id: "star10"}%> <%= label_tag(:star10, "10 ⭐️") %>
                <%= f.radio_button :puntaje, 9 , {id: "star9"}%> <%= label_tag(:star9, "9 ⭐️") %>
                <%= f.radio_button :puntaje, 8 , {id: "star8"}%> <%= label_tag(:star8, "8 ⭐️") %>
                <%= f.radio_button :puntaje, 7 , {id: "star7"}%> <%= label_tag(:star7, "7 ⭐️") %>
                <%= f.radio_button :puntaje, 6 , {id: "star6"}%> <%= label_tag(:star6, "6 ⭐️") %>
                <%= f.radio_button :puntaje, 5 , {id: "star5"}%> <%= label_tag(:star5, "5 ⭐️") %>
                <%= f.radio_button :puntaje, 4, {id: "star4"} %> <%= label_tag(:star4, "4 ⭐") %>
                <%= f.radio_button :puntaje, 3, {id: "star3"} %><%= label_tag(:star3, "3 ⭐") %>
                <%= f.radio_button :puntaje, 2, {id: "star2"}%> <%= label_tag(:star2, "2 ⭐") %>
                <%= f.radio_button :puntaje, 1, {id: "star1"} %><%= label_tag(:star1, "1 ⭐") %>
              </fieldset>
            </div>

            <div>
              <div>
                <%= f.label :estacion_tag, class: 'atuendos-form-title' %><br />
                <%= f.select(:estacion_tag, options_for_select(Atuendo.estacion_tags.keys.to_a),{required:false, :prompt => "seleccione"}, {:class => 'atuendos-form-items'})%>
              </div>
              <div>
                <%= f.label :tiempo_tag, class: 'atuendos-form-title' %><br />
                <%= f.select(:tiempo_tag, options_for_select(Atuendo.tiempo_tags.keys.to_a),{required: false, :prompt => "seleccione"}, {:class => 'atuendos-form-items'})%>
              </div>
              <div>
                <%= f.label :ocasion_tag, class: 'atuendos-form-title' %><br />
                <%= f.select(:ocasion_tag, options_for_select(Atuendo.ocasion_tags.keys.to_a),{required: false, :prompt => "seleccione"}, {:class => 'atuendos-form-items'})%>
              </div>
            </div>
            <div>
              <div>
                <%= f.label :descripcion, class: 'atuendos-form-title' %> <%= f.text_area(:descripcion, {:class => 'atuendos-form-items'}) %>
              </div>

              <%= f.number_field :user_id, value:current_user.id, type: :hidden %>


            </div>
            <p>
              <%= f.submit :class => 'btn-item-submit', :value => 'Crear'%>

            </p>
          </div>
        <% end %>

      </div>
    </div>
  </div>
<