<section style="background-color: blanchedalmond;">
  <div>
    <div>
      <div>
        <h2>Completá la info de tu atuendo!</h2>
        <%= form_for @atuendo, :url => { :action => "update" , :id => @atuendo.id}, :method => :put do |f| %>
          <div>
            <%= f.label :nombre, {:class => ''} %>
            <%= f.text_field :nombre %>
          </div>
          <div>
            <div>
              <%= f.label :estacion_tag %><br />
              <%= f.select(:estacion_tag, options_for_select(Atuendo.etiqueta_estacions.keys.to_a),{required:
                                                                                                             false, :prompt => "seleccione"}, {:class => 'form-control'})%>
            </div>
            <div>
              <%= f.label :tiempo_tag %><br />
              <%= f.select(:tiempo_tag,
                           options_for_select(Atuendo.etiqueta_tiempos.keys.to_a),{required: false,
                                                                                   :prompt => "seleccione"}, {:class => 'form-control'})%>
            </div>
            <div>
              <%= f.label :ocasion_tag %><br />
              <%= f.select(:ocasion_tag,
                           options_for_select(Atuendo.etiqueta_formalidads.keys.to_a),{required:
                                                                                           false, :prompt => "seleccione"}, {:class => 'form-control'})%>
            </div>
          </div>
          <div>
            <div>
              <%= f.label :descripcion %> <%= f.text_area(:descripcion, {:class => 'form-items'}) %>
            </div>
            <div>
              <%= f.label :puntaje %><br />
              <fieldset>
                <%= f.radio_button :puntaje, 5 , {id: "star5"}%> <%= label_tag(:star5, "5 ⭐️") %>
                <%=f.radio_button :puntaje, 4, {id: "star4"} %> <%= label_tag(:star4, "4 ⭐️") %>
                <%= f.radio_button :puntaje, 3, {id: "star3"} %><%= label_tag(:star3, "3 ⭐️") %>
                <%=f.radio_button :puntaje, 2, {id: "star2"}%> <%= label_tag(:star2, "2 ⭐️") %>
                <%= f.radio_button :puntaje, 1, {id: "star1"} %><%= label_tag(:star1, "1 ⭐️") %>
              </fieldset>
            </div>
          </div>
          <div>
            <p>
              <%= f.submit "Completar informacion", :class=>'btn btn-default' %>
            </p>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</section>