<div id="atuendo-new">
    <div>
      <h2 class="btn-go-back-guardarropa"><a href="/guardarropas/<%=+params[:guardarropa_id]%>">Guardarropa</a></h2>

      <div>
        <div class="form-atuendo-new">
          <h2 class="atuendos-title">Crea un atuendos</h2>

          <%= form_for @atuendo , :url => { :action => "create" } do |f| %>
            <div>
              <%= f.label :nombre , class: 'atuendos-form-title'%>
              <%= f.text_field :nombre, class: 'atuendos-form-items', required: true %>
            </div>
            <div>
              <div>
                <h3 class="atuendos-form-title">Cabeza</h3>

                <% if @prendas_cabeza.blank?  %>
                  <div>

                    <span><i class="fa fa-meh-o"></i> No hay prendas de este tipo</span>
                    <div>
                      <a href="/prendas/new?prenda_tipo_id=1&guardarropa_id=<%=+params[:guardarropa_id]%>" type="button" class="btn btn-primary" >Crear</a>
                    </div>

                  </div>
                <% else %>

                  <% @prendas_cabeza.each do |p| %>
                    <%= f.radio_button :cabeza, p.id, required: true %>
                    <%= render 'prenda', prenda: p %>
                    <%= f.hidden_field :cabeza_id, :value => p.id %>

                  <%end%>
                <%end%>
              </div>
              <div>
                <h3 class="atuendos-form-title">Torso</h3>
                <% if @prendas_torso.blank? %>
                  <div>
                    <span><i class="fa fa-meh-o"></i> No hay prendas de este tipo</span>
                    <div>
                      <a href="/prendas/new?prenda_tipo_id=2&guardarropa_id=<%=+params[:guardarropa_id]%>" type="button" class="btn btn-primary" >Crear</a>
                    </div>
                  </div>
                <% else %>
                  <% @prendas_torso.each do |p| %>
                    <div>
                      <%= f.radio_button :torso, p.id, required: true %>
                      <%= render 'prenda', prenda: p %>
                      <%= f.hidden_field :torso_id, :value => p.id %>
                    </div>
                  <%end%>
                <%end%>
              </div>
              <div>
                <h3 class="atuendos-form-title">Piernas</h3>
                <% if @prendas_piernas.blank?  %>
                  <div>

                    <span><i class="fa fa-meh-o"></i> No hay prendas de este tipo</span>
                    <div>
                      <a href="/prendas/new?prenda_tipo_id=3&guardarropa_id=<%=+params[:guardarropa_id]%>" type="button" class="btn btn-primary" >Crear</a>
                    </div>
                  </div>
                <% else %>
                  <% @prendas_piernas.each do |p| %>
                    <%= f.radio_button :piernas, p.id, required: true %>
                    <%= render 'prenda', prenda: p %>
                    <%= f.hidden_field :piernas_id, :value => p.id %>
                  <%end%>
                <%end%>
              </div>
              <div>
                <h3 class="atuendos-form-title">Pies</h3>
                <% if @prendas_pies.blank? %>
                  <div>
                    <span><i class="fa fa-meh-o"></i> No hay prendas de este tipo</span>
                    <div>
                      <a href="/prendas/new?prenda_tipo_id=4&guardarropa_id=<%=+params[:guardarropa_id]%>" type="button" class="btn btn-primary" >Crear!</a>
                    </div>
                  </div>
                <% else %>
                  <% @prendas_pies.each do |p| %>
                    <%= f.radio_button :pies, p.id, required: true %>
                    <%= render 'prenda', prenda: p %>
                    <%= f.hidden_field :pies_id, :value => p.id %>
                  <%end%>
                <%end%>
              </div>
            </div>

            <div>
              <%= f.label :puntaje, class: 'atuendos-form-title' %><br />

              <fieldset>
                <%= f.radio_button :puntaje, 10 , {id: "star5"}%> <%= label_tag(:star5, "10 ⭐️") %>
                <%= f.radio_button :puntaje, 9 , {id: "star5"}%> <%= label_tag(:star5, "9 ⭐️") %>
                <%= f.radio_button :puntaje, 8 , {id: "star5"}%> <%= label_tag(:star5, "8 ⭐️") %>
                <%= f.radio_button :puntaje, 7 , {id: "star5"}%> <%= label_tag(:star5, "7 ⭐️") %>
                <%= f.radio_button :puntaje, 6 , {id: "star5"}%> <%= label_tag(:star5, "6 ⭐️") %>
                <%= f.radio_button :puntaje, 5 , {id: "star5"}%> <%= label_tag(:star5, "5 ⭐️") %>
                <%=f.radio_button :puntaje, 4, {id: "star4"} %> <%= label_tag(:star4, "4 ⭐") %>
                <%= f.radio_button :puntaje, 3, {id: "star3"} %><%= label_tag(:star3, "3 ⭐") %>
                <%=f.radio_button :puntaje, 2, {id: "star2"}%> <%= label_tag(:star2, "2 ⭐") %>
                <%= f.radio_button :puntaje, 1, {id: "star1"} %><%= label_tag(:star1, "1 ⭐") %>
              </fieldset>
            </div>
            <div>
              <div>
                <%= f.select(:estacion_tag, options_for_select(Atuendo.estacion_tags.keys.to_a),{ :prompt => "Seleccione la estacion"}, {:required => true,:class => 'atuendos-form-items'})%>
              </div>
              <div>
                <%= f.select(:tiempo_tag, options_for_select(Atuendo.tiempo_tags.keys.to_a),{:prompt => "Seleccione el horario del día"}, {:required => true,:class => 'atuendos-form-items'})%>
              </div>
              <div>
                <%= f.select(:ocasion_tag, options_for_select(Atuendo.ocasion_tags.keys.to_a),{:prompt => "Seleccione la ocasión"}, {:required => true,:class => 'atuendos-form-items'})%>
              </div>
            </div>
            <div>
              <div>
                <%= f.text_area(:descripcion,{:class => 'form-items', required:true,placeholder:'Descripción'}) %>
              </div>
            </div>

            <%= f.number_field :user_id, value:current_user.id, type: :hidden %>

            <div>
              <p>
                <%= f.submit "Crear", :class=>'btn-item-submit' %>
              </p>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>

