
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> No se puede guardar este usuario:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :email, :placeholder => 'Email', :class=>'sign-up-items' %>
  </div>

  <div class="field">
    <%= form.password_field :password ,:placeholder => 'Contraseña',:class=>'sign-up-items'%>
  </div>

  <div class="field">
    <%= form.password_field :password_confirmation, :placeholder => 'Volvé a escribir la contraseña',:class=>'sign-up-items'%>
  </div>

  <div class="sign-up-buttons">
    <%= form.submit 'Registrarme', {class: 'btn-sign-up'}%>
  </div>
<% end %>
