
<div class="users-div">
  <div class="">
    <h2>Usuarios Registrados</h2>
  </div>
  <table class="table">
    <tr class="table-titles">
      <th scope="col">Email</th>
      <th scope="col">Guardarropas</th>
      <th scope="col">Prendas</th>
      <th scope="col">Fecha de registro</th>
    </tr>
    <% @users.each do |u| %>
      <tr>
        <td><%=u.email%></td>
        <td><%= Guardarropa.where(user: u).count %> </td>
        <td><%= Prenda.where(user_id: u.id).count %></td>
        <td><%=u.created_at%></td>
      </tr>
    <% end %>
  </table>
  <div class="pagination-div">
  <%= paginate @users %>

  </div>
</div>
