<div class="prenda-card">
  <div class="prenda-data">
    <h2><%= @prenda.descripcion %></h2>
    <h5>Material: <%= @prenda.material %></h5>
    <% if (!@prenda.color_primario.blank?) %>
    <h5>Color primario: <input type="color" value=<%= @prenda.color_primario %> disabled="true"></h5>
    <%end%>
    <% if (!@prenda.color_secundario.blank?) %>
      <h5>Color secundario: <input type="color" value=<%= @prenda.color_secundario %> disabled="true"></h5>
    <%end%>
    <div class="conteiner-btn-edit-delete-prenda">
      <%= link_to "<button>Editar</button>".html_safe, edit_prenda_path(@prenda),class:'btn-edit-prenda' %>
      <%= link_to "<button>Borrar</button>".html_safe, @prenda, method: "delete", data: {confirm: 'Estas seguro?'}, class:'btn-delete-prenda' %>
    </div>
  </div>
  <div class="prenda-image">
    <% if @prenda.imagen.attached? %>

      <%= image_tag(@prenda.imagen) %>
    <%else %>
      <%=image_tag("/placeholder.png")%>
    <%end %>
  </div>

    <%= link_to "<button>Volver atrás</button>".html_safe, prendas_path(@prenda), class:'btn-return' %>

</div>



