<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Shrine</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chicle&family=Dela+Gothic+One&family=Faster+One&family=Goldman:wght@400;700&family=Roboto&family=Roboto+Condensed:ital,wght@0,700;1,700&family=Spicy+Rice&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&family=Montserrat:wght@700&display=swap" rel="stylesheet">

  </head>

  <body>

  <div class="logo-2-img">
    <%= link_to image_tag("/logo2.png"), "/" %>
  </div>

  <header class="main-header">

    <div class="navigation-left">
      <!-----NAV BAR----->
      <input type="checkbox" id="open-nav"> <!-- al tocarlo, se selecciona la checkbox.en css escribo#abre-nav:checked ~.main-nav  le digo asi que le de estilo al HERMANO de abre nav que es .main-nav. -->

      <label for="open-nav" class="toggle-nav">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </label>


      <nav class="main-nav">
        <ul class="nav">
          <li>
            <!--para poner un botoncito para cerrar. abre-nav es un id!!!!-->
            <!--cuando yo apreto el boton, este se deselecciona. y se cierra la cosa-->
            <label class="close" for="open-nav">
              <i class="fa fa-times" aria-hidden="true"></i>
            </label>
          </li>
          <li><a href="/">Inicio</a></li>
          <li><a href="#about"><span>Shrine</span></a></li>
          <li><a href="#team">Equipo</a></li>
          <li><a href="#contact">Contacto</a></li>

        </ul>
      </nav>
    </div>

    <div class="navigation-right">

      <div class="dropdownMenu">
        <div class="title dropdownButton">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
        </div>
        <div class="dropdownContent">
          <ul>
            <% if current_user.blank?  %>
              <% if !current_page?(login_path) %>
                <li class="navi-li">
                  <a href="/login" class="text-dark no-underline">Login</a>
                </li>
              <% end %>
              <li class="navi-li">
                <a href="/users/new" class="text-dark no-underline">Registrate</a>
              </li>
            <% else %>
              <li><a href="/profile">Mi perfil</a></li>
              <% if current_user.admin?  %>
                <li><a href="/users" class="text-dark no-underline">Usuarios</a>
                </li>
              <% end %>
              <li>
                <a href="/logout" class="text-dark no-underline">Logout</a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
      </section>
  </header>

<div class="weather-container">
  <div id='clima-loader' hidden=true>
    Cargando...
  </div>
  <div id="clima-icon">
    <img id="wicon" src="" alt="Weather icon">
  </div>
  <div id="temp-container"> </div>
</div>






  <%= yield %>
  <!-----FOOTER----->
  <footer class="main-footer">
    <ul class="footer-list">
      <li>
        <a>
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a>
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a>
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li>
        <a>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <div class="footer-text">
      <a>Términos y Condiciones</a>
      <h4>|</h4>
      <a>Políticas de Privacidad</a>
    </div>
    <p> © 2021, Shrine </p>
    <img src="/logo2.png" alt="logotipo" class="footer-logo">
  </footer>


  <!--SCRIPTS-->

  <script>


      window.onload=function loadText(){

          var xhr = new XMLHttpRequest();
          xhr.open('GET', 'http://api.openweathermap.org/data/2.5/weather?q=buenos+aires&units=metric&lang=sp&appid=ca4f18c467d30164524130157029f3ef', true);

          xhr.onload = function(){
              document.getElementById('clima-loader').hidden = true;
              if(this.status == 200){
                  let climaResponse = JSON.parse(this.responseText);
                  let climaIcon= climaResponse.weather[0].icon;
                  let tempDescription = climaResponse.main.temp;
                  let temperaturaHTML = `<span>${tempDescription}° Capital Federal</span>`;
                  var iconurl = "http://openweathermap.org/img/w/" + climaIcon + ".png";
                  $('#wicon').attr('src', iconurl);
                  document.getElementById('temp-container').innerHTML = temperaturaHTML;

              }
          }

          xhr.onprogress = function(){
              document.getElementById('clima-loader').hidden = false;
          }


          xhr.onerror = function(){
              document.getElementById('clima-loader').hidden = true;
              console.log('Request Error...');
          }

          xhr.send();


      }

  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ResponsiveSlides.js/1.53/responsiveslides.min.js"></script>


  <script>
      $(document).ready(function() {

          //Botón de acción del acordeón
          $('.dropdownButton').click(function() {

              //Elimina la clase on de todos los botones
              $('.dropdownButton').removeClass('on');

              //Plegamos todo el contenido que esta abierto
              $('.dropdownContent').slideUp('slow');

              //Si el siguiente slide no esta abierto lo abrimos
              if($(this).next().is(':hidden') == true) {

                  //Añade la clase on en el botón
                  $(this).addClass('on');

                  //Abre el slide
                  $(this).next().slideDown('slow');
              }

          });

          // Cerramos todo el contenido al cargar la página
          $('.dropdownContent').hide();

      });
  </script>

  <script>


      $(function() {

          $(".rslides").responsiveSlides({

              auto: true, // Boolean: Animate automatically, true or false

              speed: 500, // Integer: Speed of the        transition, in milliseconds

              timeout: 4000, // Integer: Time between slide transitions, in milliseconds

              pager: false, // Boolean: Show pager, true or false

              nav: false, // Boolean: Show navigation, true or false

              random: false, // Boolean: Randomize the order of the slides, true or false

              pause: false, // Boolean: Pause on hover, true or false

              pauseControls: true, // Boolean: Pause when hovering controls, true or false

              prevText: "Previous", // String: Text for the "previous" button

              nextText: "Next", // String: Text for the "next" button

              maxwidth: "", // Integer: Max-width of the slideshow, in pixels

              navContainer: "", // Selector: Where controls should be appended to, default is after the 'ul'

              manualControls: "", // Selector: Declare custom pager navigation

              namespace: "rslides", // String: Change the default namespace used

              before: function(){}, // Function: Before callback

              after: function(){} // Function: After callback

          });

      });

  </script>


  </body>
</html>
